configuration {
	show-icons: true;
	terminal: "alacritty";
	icon-theme: "Breeze";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: "  Apps ";
	display-run: "  Run ";
	display-window: "  Window ";
	display-ssh: "  SSH ";
	sidebar-mode: true;
}

@theme "themes/gruvbox.rasi"
